<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container">
    <img src="../assets/images/images.png" class="navbar-company-logo"/>
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item home-color">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item navbar-header">
          <a class="nav-link" href="#about">About us</a>
        </li>
        <li class="nav-item navbar-header">
          <a class="nav-link" href="#industry">Industry Expertise</a>
        </li>
        <li class="nav-item navbar-header">
          <a class="nav-link" href="#testmonials">Testmonials</a>
        </li>
        <li class="nav-item navbar-header">
          <a class="nav-link" href="#service">Service</a>
        </li>
        <li class="nav-item navbar-header">
          <a class="nav-link" href="#updates">Updates</a>
        </li>
        <li class="nav-item navbar-header">
          <a class="nav-link" href="#contact">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Banner Section starts here -->
<div class="container-fluid first-bg-container">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div class="banner-section">
          <h1 class="banner-heading">
            Think Create <br />
            Inspire
          </h1>
          <p class="banner-paragarph">
            Providing software solution that help<br />realise your business
            dreams
          </p>
          <button class="banner-button">Know more</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Section ends here -->
<!-- About us section starts here -->
<div class="container-fluid my-5" id="about">
  <div class="row">
    <div class="col-lg-5 order-lg-1">
      <img src="../assets/images/Capture.webp" class="img-fluid"/>
    </div>
    <div class="col-lg-7 order-lg-2">
      <h6 class="Aboutus-first-header">About us</h6>
      <h1 class="Aboutus-second-header">Welcome to <br />IT Technologies</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        cupiditate, incidunt, vel asperiores laudantium earum eius, saepe sed
        numquam consequuntur quidem rerum veniam doloribus. Id voluptatibus
        minus voluptates maiores vel.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur
        reiciendis obcaecati ea doloribus quaerat explicabo, ex quasi, animi
        provident accusantium commodi qui cum voluptatibus expedita odit
        adipisci ipsum, eveniet voluptate! Repellat, recusandae blanditiis,
        necessitatibus nam illum saepe aspernatur magni ea et, laboriosam
        similique. Autem itaque iste, reprehenderit nisi voluptatem animi!
      </p>
      <button class="banner-button">Know more</button>
    </div>
  </div>
</div>
<!-- About us section ends here -->
<!-- service section starts -->
<div class="container-fluid service-section" id="service">
  <h5 class="text-center pt-4 Aboutus-first-header">Service</h5>
  <h1 class="text-center Aboutus-second-header">Digital Transformation Service</h1>
  <div class="container">
  <div class="row mt-5 pb-5"> 
        <div class="col-md-3 pb-3 pb-lg-0" >
         <div class="card">
          <img
          src="../assets/images/service-iot.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Service-Iot</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#"><button class="banner-button">Know more</button></a>
        </div>
         </div>
        </div>
        <div class="col-md-3 pb-3 pb-lg-0" >
      <div class="card">
        <img
        src="../assets/images/service-aiar.webp"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Service-Aiar</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#"><button class="banner-button">Know more</button></a>
      </div>
      </div>
        </div>
        <div class="col-md-3 pb-3 pb-lg-0" >
         <div class="card">
          <img
          src="../assets/images/Mask Group 6.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Mask Group</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#"><button class="banner-button">Know more</button></a>
        </div>
         </div>
        </div>
        <div class="col-md-3 pb-3 pb-lg-0">
       <div class="card">
        <img
        src="../assets/images/Mask Group 7.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mask Group2</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#"><button class="banner-button">Know more</button></a>
      </div>
       </div>
        </div>
      
   
  </div>
</div>
</div>
<!-- service section ends -->
<div class="container mb-5 " id="industry">
  <div class="row">
    <div class="text-center my-5">
      <h1>Industry Expertise</h1>
    </div>

    <div class="col-md-3 border-right">
      <img src="../assets/icons/life-insurance.png" />

      <p class="pt-3">INSURANCE</p>
    </div>
    <!-- <div  class="border-right"></div> -->

    <div class="col-md-3 border-right">
      <img src="../assets/icons/bank.png" />
      <p class="pt-3">BANKING COMMERCE</p>
    </div>
    <!-- <div  class="border-right"></div> -->

    <div class="col-md-3 border-right">
      <img src="../assets/icons/goods.png" />
      <p class="pt-3">CONSUMER NON DURABLES</p>
    </div>
    <!-- <div  class="border-right"></div> -->

    <div class="col-md-3 text-center">
      <img src="../assets/icons/retail.png" />
      <p class="pt-3">RETAIL</p>
    </div>
    <!-- <div  class="border-right"></div> -->
  </div>

  <div class="row mt-4">
    <div class="col-md-4 border-right">
      <img src="../assets/icons/education.png" />
      <p class="pt-3">EDUCATION</p>
    </div>

    <div class="col-md-4 border-right">
      <img src="../assets/icons/construction.png" />
      <p class="pt-3">CONSTRUCTION</p>
    </div>

    <div class="col-md-4 text-center">
      <img src="../assets/icons/pharma.png" />
      <p class="pt-3">PHARMA HEALTHCARE</p>
    </div>
  </div>
  <div class="text-center mt-4">
    <button class="banner-button">Know more</button>
  </div>
</div>
<div class="container-fluid testimonials-section mb-5" id="testmonials">
  <h5 class="text-center pt-4">Testimonials</h5>
  <h1 class="text-center">What Clients Are Saying</h1>
 <div class="container mt-5">
  <div class="row">
    <div class="col-md-3 mb-5">
      <div class="card">
        <div class="text-center">
        <img
        src="../assets/images/img-1.webp"
        style="
          height: 50px;
          width: 50px;
          border-radius: 30px;
          margin-top: 12px;
        "
      />
     
        <h5>Floriant Angel</h5>
        <p>Director</p>
      </div>
        <p class="p-3">
          A young Prussian art restoration apprentice carrying a valuable amber
          swan that he stole from the Amber Room, after discovering that he is a
          puppet of Erich Koch's. He develops a romantic relationship with
          Joana.
        </p>
      </div>

    </div>
    <div class="col-md-3 mb-5">
      <div class="card">
        <div class="text-center">
        <img
        src="../assets/images/img-1.webp"
        style="
          height: 50px;
          width: 50px;
          border-radius: 30px;
          margin-top: 12px;
        "
      />
     
        <h5>Floriant Angel</h5>
        <p>Director</p>
      </div>
        <p class="p-3">
          A young Prussian art restoration apprentice carrying a valuable amber
          swan that he stole from the Amber Room, after discovering that he is a
          puppet of Erich Koch's. He develops a romantic relationship with
          Joana.
        </p>
      </div>

    </div>
    <div class="col-md-3 mb-5">
      <div class="card">
        <div class="text-center">
        <img
        src="../assets/images/img-1.webp"
        style="
          height: 50px;
          width: 50px;
          border-radius: 30px;
          margin-top: 12px;
        "
      />
     
        <h5>Floriant Angel</h5>
        <p>Director</p>
      </div>
        <p class="p-3">
          A young Prussian art restoration apprentice carrying a valuable amber
          swan that he stole from the Amber Room, after discovering that he is a
          puppet of Erich Koch's. He develops a romantic relationship with
          Joana.
        </p>
      </div>

    </div>
    <div class="col-md-3 mb-5">
      <div class="card">
        <div class="text-center">
        <img
        src="../assets/images/img-1.webp"
        style="
          height: 50px;
          width: 50px;
          border-radius: 30px;
          margin-top: 12px;
        "
      />
     
        <h5>Floriant Angel</h5>
        <p>Director</p>
      </div>
        <p class="p-3">
          A young Prussian art restoration apprentice carrying a valuable amber
          swan that he stole from the Amber Room, after discovering that he is a
          puppet of Erich Koch's. He develops a romantic relationship with
          Joana.
        </p>
      </div>

    </div>
   
    
  </div>
 </div>
</div>
<div class="container" id="updates">
  
  <h5>Blog</h5>
  <h1>Update News</h1>
  
  <div class="row">
   <div class="col-md-4 pb-3 pb-lg-0">
    <div class="card">
      <img
        src="../assets/images/Mask Group 9.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolar</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Know More</a>
      </div>
    </div>
   </div>
   <div class="col-md-4 pb-3 pb-lg-0">
    <div class="card">
      <img
        src="../assets/images/Mask Group 9.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Lorem Ipsum Dolar</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Know More</a>
      </div>
    </div>
   </div>
   <div class="col-md-4 pb-3 pb-lg-0">
    <div class="card">
      <img
        src="../assets/images/Mask Group 9.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Lorem Ipsum Dolar</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Know More</a>
      </div>
    </div>
  
   </div>

  </div>
</div>
<div class="container-fluid mt-5 icon-section" id="contact">
  <div class="row">
    <div class="col-md-3 ">
      <img src="../assets/images/it-solution-logo-company-business-consulting-web-vector-35792073.jpg" class="company-logo"/>
      <div class="company-icons">
        <img src="../assets/icons/face-book.png"/>
        <img src="../assets/icons/twitter.png"/>
        <img src="../assets/icons/insta.png"/>
        <img src="../assets/icons/linkedin.png"/>
        <img src="../assets/icons/youtube.png">


      </div>
      
      
        
      
    </div>
    <div class="col-md-3 list-section">
      <ul>
        <li>About</li>
        <li>Careers</li>
          <li>Services</li>
            <li>Our Team</li>
              <li>Approch</li>
                <li>Case studies</li>
      </ul>

    </div>
    <div class="col-md-3 list-section">
      <ul>
        <li>Services</li>
        <li>Lot</li>
          <li>AR & AI</li>
            <li>Dotent Core Applications</li>
              <li>Banking & Insurance Projects</li>
                <li>Banking & Insurance</li>
      </ul>

    </div>
    <div class="col-md-3 list-section">
      <ul>
        <li>Industry Expertise</li>
        <li>Insurance</li>
          <li>Banking E commerce</li>
            <li>Consumer non durables</li>
              <li>Retail</li>
                <li>Education</li>
                <li>Construction</li>
                <li> Pharama Healthcare</li>

      </ul>

    </div>
    
  </div>
</div>
